*
{
    margin: 0;
    padding: 0;
}

body
{
    margin: 0;
    height: 100vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #4B0082, #8A2BE2);
    color: white;
    font-family: Arial, sans-serif
}

.dictionary
{
    padding: 5vh;
    border: none;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.heading, .search-bar
{
    margin-bottom: 2vh;
}

.search-bar
{
    display: flex;
    justify-content: center;
    align-items: center;
}

#input
{
    border: none;
    background: rgba(255, 255, 255, 0.2);
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    outline: none;
    color: white;
    margin-right: 20px;
}

#submit
{
    border: none;
    background: #FFD700;
    color: black;
    height: 3.5vh;
    width: 10vh;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

#submit:hover {
    background: #FFA500;
    box-shadow: 0px 0px 15px rgba(255, 215, 0, 0.7);
}

#submit:active {
    transform: scale(0.95);

}


#output {
    display: none;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
    font-size: 1.1rem;
    width: 100%;
}

#input::placeholder {
    color: rgba(255, 255, 255, 0.7); /* White with slight transparency */
}
