@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300..900&family=Montserrat:wght@400..800&family=Playfair+Display:wght@400..700&display=swap');


*
{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body
{
    background-color: white;
    height: 100vh;
    width: 100%;
}

.header
{
    height: 100vh;
    width: 100%;
    background-image: url("hero-section-bgm-dark.png");
    background-size: cover;
    background-position: center;
}

.nav-bar
{
    background-color: black;
    width: 100%;
    padding-top: 1.5vh;
    padding-bottom: 1vh;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}

.logo
{
    display: flex;
    align-items: center;
}

.logo a
{
    display: flex;
    text-decoration: none;
    color: white;
}

.logo-text
{
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 0.5rem;
}

.logo-icon
{
    content: url("dark-logo.png");
    width: 1.5rem;
    height: 1.5rem;
}

.nav
{
    display: flex;
    gap: 4rem;
}

.menu-open {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    color: white;
}

.menu-close {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    color: white;
}

.nav a
{
    text-decoration: none;
    font-size: 1rem;
    color: white;
}

#mode-open
{
    font-size: 1.5rem;
    cursor: pointer;
}

#mode-close
{
    font-size: 1.5rem;
    cursor: pointer;
}

.uil-sun
{
    color: white;
}

.uil-times
{
    font-size: 1.5rem;
    height: 1.5rem;
    width: 1.5rem;
    color: white;
}

/*          Hero Section Text          */
.header-text
{
    color: white;
    margin-top: 13%;
    margin-left: 13%;
    font-size: 30;
}

.header-text h1
{
    font-family: 'Inter', sans-serif;
    font-size: 100px
}

.header-text p
{
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
}

.header-text h1 .name
{
    color: #FFBF00;
}

.typed-text {
    font-size: 1em;
    font-family: monospace;
    white-space: pre;
}
.typed-text::after {
    content: '|'; /* Or any cursor character */
    animation: blink 1s infinite step-end;
}

@keyframes blink {
    from, to {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

/*       About Me Section        */
#about-me
{
    background-color: white;
    width: 100%;
    padding-top: 70px;
    padding-bottom: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#about-me .content
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
}

#about-me .content h1
{
    font-family: 'Montserrat', sans-serif;
    font-size: 80px;
    font-weight: 700;
    letter-spacing: 2px;
    position: relative;
    color: #2C3E50
}

#about-me .about-me-content
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

#about-me .about-me-content img
{
    border: 10px solid #1C1931;
    margin-right: 70px;
    border-radius: 50%;
}

#about-me .about-me-content img:hover
{
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
}


#about-me .about-me-content p
{
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    line-height: 1.6;
    text-align: left;
    color: #555;
}


/*Light Mode*/
.light-header
{
    background-image: url("hero-section-bgm-light.png");
}

.light-body
{
    background-color: white;
    color: black;
}

.light-body .logo-icon
{
    content: url("light-logo.png");
}

.light-nav
{
    background-color: white;
    color: black;
}

.anchor-light
{
    color: black !important;
}

.uil-moon
{
    color: black;
}


/*    About section light mode   */

.light-about-me
{
    background-color: #1C1931 !important;
}

.light-about-me h1
{
    color: #FFD700  !important;
}

.light-about-me img
{
    border: 10px solid #F4C430  !important;
}

.light-about-me p
{
    color: #EDEDED  !important;
}

/*     Responsive Design     */
@media screen and (max-width : 953px)
{
    .menu-open
    {
        display: block;
    }

    .menu-close
    {
        display: block;
    }

    .mode
    {
        display: none;
    }

    .nav
    {
        display: flex;
        position: fixed;
        flex-direction: column;
        align-items: center;
        height: 100vh;
        top: 0;
        right: -50%;
        width: 50%;
        padding-top: 30px;
        z-index: 1;
    }

    .header
    {
        background-image: url("hero-section-mobile-bgm-dark.png");
        background-size: cover;
        background-position: center;
    }

    .light-header
    {
        background-image: url("hero-section-mobile-bgm-light.png");
        background-size: cover;
        background-position: center;
    }


    /*        Hero Section         */
    .header-text
    {
        margin-top: 20%;
        margin-left: 6%;
    }

    .header-text h1
    {
        font-size: 65px;
    }

    .header-text p
    {
        font-size: 30px;
    }

    /*              About Section              */

    #about-me .content h1
    {
        font-size: 50px;
        margin-bottom: 50px;
    }

    #about-me .about-me-content
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    #about-me .about-me-content img
    {
        margin-bottom: 70px;
        margin-left: 75px;
    }

    #about-me .about-me-content p
    {
        font-size: 18px;
    }

}
